<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crm.mapper.CustomerActivityMapper">

	<update id="update">
		update customer_activities set activity_date = #{date},
			description = #{description},
			place = #{place}, title = #{title}  where customer_id =#{customer.id}
	</update>
	
	
	<select id="getById" resultType="com.atguigu.crm.entity.CustomerActivity">
	
	select id,activity_date as "date",c.description as "description",c.place,c.title,customer_id as "customer.id" from  customer_activities c 
			where id = #{id}
	</select>

	<delete id="delete">
		delete from customer_activities where id = #{id}
	
	</delete>

	<insert id="save">
		insert into customer_activities(id, activity_date,description,title,place,customer_id)
		values(crm_seq.nextval,#{date},#{description},#{title},#{place},#{customer.id})
	
	</insert>
	
	<select id="getActivityList" resultType="com.atguigu.crm.entity.CustomerActivity">
		select * from (
			select rownum rn, id,activity_date as "date",description,place,title from  customer_activities 
			where customer_id = #{id}
			)
			<![CDATA[
			WHERE rn >= #{firstIndex} AND rn < #{endIndex}
		]]>			
	</select>

	<select id="getTotalElements" resultType="long">
	
		select count(*) from customer_activities where customer_id = #{id}
	
	</select>

</mapper>