<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crm.mapper.ProductMapper">
	
	<sql id="queryCondition">
		where 1=1
		<if test="name!=null and name!= '' ">
			and name like #{name}
		</if>
		
		<if test="type!=null and type!= ''">
			and type like #{type}
		</if>
		
		<if test="batch!=null and batch != '' ">
			and batch like #{batch}
		</if>
	
	</sql>
	
	<select id="getList" resultType="com.atguigu.crm.entity.Product">
		select * from (
		   select rownum rn ,id,memo,name,price,type,unit,batch
		   from products 
		   <include refid="queryCondition"/>
		)
		<![CDATA[
		where rn>=#{startIndex} and rn < #{endIndex} 
		
		]]>
	</select>
	<select id="getTotalElements" resultType="long">
		select count(*) from products
		<include refid="queryCondition"/>
	</select>
	<select id="getProduct" resultType="com.atguigu.crm.entity.Product">
		select id,memo,name,price,type,unit,batch from products where id = #{id}
	</select>
	<update id="update">
		update products set memo=#{memo},name=#{name},price=#{price},type=#{type},unit=#{unit},
		batch=#{batch} where id=#{id}
	</update>
	
	<delete id="delete">
		delete from products where id = #{id}
	</delete>
	<insert id="save">
		insert into products(id,memo,name,price,type,unit,batch) 
		values(crm_seq.nextval,#{memo},#{name},#{price},#{type},#{unit},#{batch})
	</insert>
	<select id="getProductList" resultType="com.atguigu.crm.entity.Product">
		select id , name from products 
	</select>
	
</mapper>
