<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml" />
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="cacheManager" ref="cacheManager" />
		<property name="realm" ref="userRealm" />
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />


	<!-- <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/> <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor"> 
		<property name="securityManager" ref="securityManager"/> </bean> -->


	<!-- 配置 ShiroFilter. 注意: 该 ShiroFilte 的 id 必须和 web.xml 文件中配置的 shiro-filter 的 filter-name 一致. -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/index.jsp"></property>
		<property name="unauthorizedUrl" value="/unauthorized.jsp" />
		<!-- 配置受保护的资源和访问这些资源需要具备的权限 1. anon: 可以匿名访问. 即不需要登录, 也不需要权限就可以访问. 2. authc: 必须登陆后才可以访问. 3. logout: 登出. 4. roles: 只有具备了什么权限后才可以访问。 注意: URL 权限采取第一次匹配优先的方式 -->
		<property name="filterChainDefinitions">
			<value>
				/chance/** = authc
				/user/login = anon
				/shiro-logout = logout

				/plan/** = roles[plan]
				/chance/** = roles[chance]
				
				/role/** = roles[role]
				/user/** = roles[user]
				/chance/** = roles[chance]
				/plan/** = roles[plan]
				/dict/** = roles[dict]
				/product/** = roles[product]
				/storage/** = roles[storage]
				/customer/** = roles[customer]
				/contact/** = roles[customer]


				/** = authc
			</value>
		</property>
	</bean>

</beans>
